*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 200px;
    font-family:'Roboto',sans-serif;
    background-color: #b29d9d77;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 0.3s;
}
.container{
    display: block;
    border: 5px solid;
    padding: 20px;
    border-radius: 30px ;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    transition: all 0.3s;
    width: 300pxpx;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 4px;
}
.dark-mode .container{
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode{
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode #btn{
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border-color: white;
}