*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 20%;
    background-color: darkseagreen;
    align-content: center;
    text-align: center;
}
main{
    width: 100%;
    height: 70%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:  
    "section1 aside"
    "section2 aside"
    ;
}
main .section1{
    grid-area: section1;
    background-color: red;
}
main .section2{
    grid-area: section2;
    background-color: white;
}
main .aside{
    grid-area: aside;
    background-color: purple;
}
footer{
    width: 100%;
    height: 10%;
    background-color: darkgray;
    align-content: center;
    text-align: center;
}